<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rest_search_model.name %>
</p>

<p>
  <strong>Mask:</strong>
  <%= @rest_search_model.mask %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @rest_search_model.temp %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @rest_search_model.alcohol %>
</p>

<p>
  <strong>Takeout:</strong>
  <%= @rest_search_model.takeout %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @rest_search_model.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @rest_search_model.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @rest_search_model.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @rest_search_model.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @rest_search_model.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @rest_search_model.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @rest_search_model.sunday %>
</p>

<p>
  <strong>Googlemap:</strong>
  <%= @rest_search_model.googlemap %>
</p>

<p>
  <strong>Tabelog:</strong>
  <%= @rest_search_model.tabelog %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @rest_search_model.homepage %>
</p>

<%= link_to 'Edit', edit_rest_search_model_path(@rest_search_model) %> |
<%= link_to 'Back', rest_search_models_path %>
