<h1 class="title has-text-centered">一覧</h1>

<%= form_with url: 'result', method: :get, local: true do |f| %>
    店名：<%= f.text_field :name %><br/>
    住所：<%= f.text_field :address %><br/>
    アルコールの有無：<%= f.check_box :alcohol %><br/>
    マスク：<%= f.check_box :mask %><br/>
    営業時間：<%= f.check_box :time %><br/>
    テイクアウト：<%= f.check_box :takeout %><br/>
    タッチレス：<%= f.check_box :touchless %><br/>
    カード：<%= f.check_box :card %><br/>
    Linepay：<%= f.check_box :linepay %><br/>
    Paypay：<%= f.check_box :paypay %><br/>
    payid：<%= f.check_box :payid %><br/>
    quicpay：<%= f.check_box :quicpay %><br/>
    座席間隔：<%= f.check_box :seat %><br/>
    従業員との接触：<%= f.check_box :contact %><br/>
    トイレの有無：<%= f.check_box :toilet %><br/>
    自然換気：<%= f.check_box :airing %><br/>
    屋外の席：<%= f.check_box :outdoor %><br/>
    体温測定：<%= f.check_box :temp %><br/>
    店内の雰囲気：<%= f.text_field :atom %><br/>
    仕切り板の有無：<%= f.check_box :plate %><br/>
    衛生状況に対する顧客の満足度：<%= f.text_field :rate %><br/>
    <%= f.submit :submit %>
  <% end %>

