<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <style type="text/css">
        form {
            display: inline-block;
            padding: 4px;
        }

        /* button {
            border-style: none;
        } */

    </style>
</head>

<body>
    <h1>Ajaxの練習</h1>
    <div class="buttons">
        <%= form_tag(url_for(:action => 'create'), :remote => true) do %>
        <button class="button is-primary is-light">
            <span class="icon">
                <i id='up' class="far fa-thumbs-up"></i>
            </span>
            <span id="good" class="<%= @good %>">
                <%= @good %>
            </span>
        </button>
    <% end %>
    <%= form_tag(url_for(:action => 'destroy'), :remote => true) do %>

        <button class="button is-primary is-light">
            <span class="icon">
                <i id='down' class="far fa-thumbs-down"></i>
            </span>
    
        <span id="bad" class="<%= @bad %>"><%= @bad %></span>
    <% end %>
    </div>



    <button type="submit" value="up_button" id="status">
        <span class="icon">
            <i id='up' class="far fa-thumbs-up"></i>
        </span>
    </button>
    <span id="good" class="<%= @good %>"><%= @good %> </span>

    <button type="submit">
        <span class="icon">
            <i id='down' class="far fa-thumbs-down"></i>
        </span>
    </button>
    <span id="bad" class="<%= @bad %>"><%= @bad %></span>
                <div id=<%= jj %> class="box" style="background-color: hsl(171, 100%, 85%)">

    <details>
                        <%# <summary><div class="content"><span>aaa</span></div></summary> %>
                        <summary>aaa</summary>
                        <%# <span><strong>更新情報を入力してください</strong></span> %>
                        
                        
                        <p><span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                       更新情報を入力してください
                        </p>
                        <span class="icon">
                            <i class="fas fa-plus-circle"></i>
                        </span>

                        
                        <form action="/welcome/checkdata" method="post">
                            <%#= form_with url: '/welcome/comment', method: :get, local: true do |f| %>
                            <div style="width: 80%; ">
                                <br>
                                <div class="content" id="parent_id">
                                    <div class="control">
                                        <div class="field is-grouped">

                                            <div class="select">
                                                <select name="item[]">
                                                    <option value="テイクアウト">テイクアウト</option>
                                                    <option value="客のマスク着用">客のマスク着用</option>
                                                    <option value="短縮営業">短縮営業</option>
                                                </select>
                                            </div>

                                            <div class="select">
                                                <select name="comment[]">
                                                    <option value="あり">あり</option>
                                                    <option value="なし">なし</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="content">
                                    <p class="control">
                                        <button id="addit" type="button" class="button is-light">+追加</button>
                                        <%# <a class="button is-light">
                                     + Add
                                </a> %>
                                    </p>
                                </div>

                                <div class="content">
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <input type="submit" value="登録" class="button is-primary">
                                        </p>
                                        <p class="control">
                                            <a class="button is-light">
                                                取消
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <%# end %>
                        </form>
                    </details>
                    </div>
    <script>
        $("#submit_button").click(function () {
            console.log('ajax');

            $.ajax({
                    type: 'POST',
                    url: '/welcome/ajax',
                    data: {
                        "key": "word"
                    },
                    dataType: 'json'
                })

                .done(function (data) {

                    alert(data['key']) // alertで検索失敗の旨を表示します
                })
                // .fail(function (data) {
                //     // 通信に失敗した場合の処理です
                //     console.log(data);
                //     alert('検索に失敗しました'); // alertで検索失敗の旨を表示します
                // })
                .fail(function (data, XMLHttpRequest, textStatus, errorThrown) {
                    console.log(data);
                    console.log(XMLHttpRequest.status);
                    console.log(textStatus);
                    console.log(errorThrown);
                })
        });
    </script>
</body>

</html>