<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="style.css">
    <%= stylesheet_pack_tag 'application' %>
    <title>team Kizuna </title>
</head>

<body>
 <div class="star-rating">
  <div class="star-rating-front" style="width: 20%">★★★★★</div>
  <div class="star-rating-back">★★★★★</div>
</div>
<%= form_with url: 'welcome/search', method: :get, local: true do |f| %>
    店名検索：<%= f.text_field :name %><br/>
    アルコールの有無：<%= f.check_box :alcohol %><br/>
    マスク：<%= f.check_box :mask %><br/>
    営業時間：<%= f.check_box :time %><br/>
    テイクアウト：<%= f.check_box :takeout %><br/>
    タッチレス：<%= f.check_box :touchless %><br/>
    カード：<%= f.check_box :card %><br/>
    Linepay：<%= f.check_box :linepay %><br/>
    Paypay：<%= f.check_box :paypay %><br/>
    payid：<%= f.check_box :payid %><br/>
    quicpay：<%= f.check_box :quicpay %><br/>
    座席間隔：<%= f.check_box :seat %><br/>
    従業員との接触：<%= f.check_box :contact %><br/>
    トイレの有無：<%= f.check_box :toilet %><br/>
    自然換気：<%= f.check_box :airing %><br/>
    屋外の席：<%= f.check_box :outdoor %><br/>
    体温測定：<%= f.check_box :temp %><br/>
    店内の雰囲気：<%= f.check_box :atom %><br/>
    仕切り板の有無：<%= f.check_box :plate %><br/>
    衛生状況に対する顧客の満足度：<%= f.check_box :rate %><br/>

    <%= f.submit :search %>
  <% end %>

<table class="table is-striped" style="margin-left: auto; margin-right: auto;">
    <thead>
        <tr>
            <th>店名</th>
            <th>住所</th>
            <th>マスク着用</th>
            <th>アルコール消毒の有無</th>
        </tr>
    </thead>
    <tbody>
        <% @rests.each do |rest| %>
            <tr>
                <th><%= rest.name %></th>
                <th><%= rest.address %></th>
                <th><%= rest.mask %></th>
                <th><%= rest.alcohol %></th>
            </tr>
        <% end %>
    </tbody>
</table>
</body>
</html>