<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" href="bulma.min.css">
    <title>team Kizuna </title>
</head>

<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-left">Kizuna</h1>
            <h1 class="subtitle">~安心安全の外食をお届け~</h1>
            
            <div class="has-text-right">
                <%= form_with url: '/welcome/search', method: :get, local: true do |f| %>
                    <div style="width: 20%; margin: auto 0 auto auto;">
                        <%= f.label :name, "店舗名：" %>
                        <%= f.text_field :name , class: "input" %>
                    </div>
                    <br>
                    
                    <%# チェックボックス %>
                    <%= f.label :takeout, "テイクアウト " %>
                    <%= f.check_box :takeout, {include_hidden: false}, class: "checkbox" %>

                    <%= f.label :touchless, "　　タッチレス決済 " %>
                    <%= f.check_box :touchless, {include_hidden: false}, class: "checkbox" %>
                    
                    <%= f.label :mask, "　　マスク必須 " %>
                    <%= f.check_box :mask, {include_hidden: false}, class: "checkbox" %>
                    <div class="control">
                        <%= f.submit :search, class: "button" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
         　 <%# あり・なし表示をする関数を定義 %>
            <%
                def display_yn(value)
                    if value then
                        return "あり"
                    else
                        return "なし"
                    end
                end
            %>
             <%# 各行ごと（店舗ごと）に表を作成 %>
            <% @rests.each do |rest| %>
                <div class="column mb-4">
                    <div style="padding: 20px; border: 1px solid #ddd; border-radius: 5px;" />
                    <%#　見出し %>
                    <h1 class="title is-4"><%= rest.name %></h1>
                    <h1 class="subtitle"><%= rest.address %></h1>
                     <%# 重要項目の表 %>
                    <table class="table is-fullwidth is-striped">
                        <%# 衛生状況に対する顧客の満足度 %>
                        <tr>
                            <td>
                                衛生状況に対する顧客の満足度
                            </td>
                            <td>
                                <div class="star-rating">
                                <div class="star-rating-front" style="width: <%= rest.rate * 20 %>%">★★★★★</div>
                                <div class="star-rating-back">★★★★★</div></div>
                            </td>
                        </tr>
                         <%# マスク %>
                        <tr>
                            <td>
                                客のマスク着用
                            </td>
                            <td>
                                <% if rest.mask == false then %>
                                    指定なし
                                <% elsif rest.mask == true then %>
                                    必須
                                <% else %>
                                    推奨
                                <% end %>
                            </td>
                        </tr>
                        <%# 短縮営業 %>
                        <tr>
                            <td>
                                短縮営業
                            </td>
                            <td>
                                <% if rest.time == false then %>
                                    なし
                                <% else %>
                                    あり
                                <% end %>
                            </td>
                        </tr>
                        <%# テイクアウト %>
                        <tr>
                            <td>
                                テイクアウト
                            </td>
                            <td>
                                <%= display_yn(rest.takeout) %>
                            </td>
                        </tr>
                    </table>
                     <%# 詳細項目 %>
                    <details>
                        <summary><strong>> 詳細</strong></summary>
                    <table class="table is-fullwidth is-striped details-content">
                        <%# アルコール消毒 %>
                        <tr>
                            <td>
                                アルコール消毒
                            </td>
                            <td>
                                <%= display_yn(rest.alcohol) %>
                            </td>
                        </tr>
                        <%# タッチレス決済 %>
                        <tr>
                            <td>
                                タッチレス決済
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                カード
                            </td>
                            <td>
                                <%= display_yn(rest.card) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                LINE Pay
                            </td>
                            <td>
                                <%= display_yn(rest.linepay) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                PayPay
                            </td>
                            <td>
                                <%= display_yn(rest.paypay) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                iD
                            </td>
                            <td>
                                <%= display_yn(rest.payid) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                QUICPay
                            </td>
                            <td>
                                <%= display_yn(rest.quicpay) %>
                            </td>
                        </tr>
                        <%# 席間隔 %>
                        <tr>
                            <td>
                                席間隔
                            </td>
                            <td>
                                <%= display_yn(rest.seat) %>
                            </td>
                        </tr>
                        <%# 従業員との接触 %>
                        <tr>
                            <td>
                                従業員との接触
                            </td>
                            <td>
                                <%= display_yn(rest.contact) %>
                            </td>
                        </tr>
                        <%# トイレの利用可否 %>
                        <tr>
                            <td>
                                トイレの利用可否
                            </td>
                            <td>
                                <%= display_yn(rest.toilet) %>
                            </td>
                        </tr>
                        
                        <%# 自然換気 %>
                        <tr>
                            <td>
                                自然換気
                            </td>
                            <td>
                                <%= display_yn(rest.airing) %>
                            </td>
                        </tr>
                        <%# 屋外の席 %>
                        <tr>
                            <td>
                                屋外の席
                            </td>
                            <td>
                                <%= display_yn(rest.outdoor) %>
                            </td>
                        </tr>
                        <%# 体温測定 %>
                        <tr>
                            <td>
                                体温測定の有無
                            </td>
                            <td>
                                <%= display_yn(rest.temp) %>
                            </td>
                        </tr>
                        <%# 店内の雰囲気 %>
                        <tr>
                            <td>
                                店内の雰囲気
                            </td>
                            <td>
                                <%= rest.atom %>
                            </td>
                        </tr>
                        <%# 仕切り板の有無 %>
                        <tr>
                            <td>
                            仕切り板の有無
                            </td>
                            <td>
                                <%= display_yn(rest.plate) %>
                            </td>
                        </tr>
                        </table>

                        <div class="notification is-primary">
                        <strong>衛生対策を評価しよう！</strong>
                        <%= form_with url: 'result', method: :get, local: true do |f| %>
                            <%= f.select :user_rate, [["5", 5],["4", 4],["3", 3],["2",2],["1",1]] %>
                            <%= f.submit :submit %>
                        <% end %>
                        </div>

                    </details>
                </div>
                </div>
            <% end %>
            </div>
        </div>
</section>
</body>
</html>