<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kizuna -安心安全の外食のためのサイト-</title>

    <style type="text/css">
      .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      }

      .scrolling-wrapper .item {
        display: inline-block;
      }

      #plus {
        border-radius: 30px;
        margin: 10px 10px 20px 20px;
      }

      #header {
        /* background-color: brown; */
      }

      #search_form {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
      }

      .navbar-menu {
        /* padding-top: 1rem; */
      }

      .column{
        /* background-color: brown; */
      }

      .search_entries_container {
        border: solid 1px black;
        margin-bottom: 20px;
      }

      .search_entry_container{
        margin-bottom: 10px;
      }

      .search_entry_container > .header{
        background-color: #999999;
        color: white;
        padding: 3px;
        font-size: 1.2rem;
      }

      .search_entry_container > .content{
        padding: 3px;
      }

      .search_entry_container > .content > label {
        margin-left: 1ch;
        margin-right: 2ch;
      }
    </style>
</head>

<body>
    <!-- Header -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="header">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <!-- <div class="navbar-start"> -->
        <div id="search_form">
          <!-- Search Form -->
          <form name="search_form" accept-charset="UTF-8">
            <div class="field has-addons">
              <!-- エリア・駅 -->
              <div class="control">
                <input class="input" type="text" placeholder="エリア・駅">
              </div>
              <!-- キーワード -->
              <div class="control">
                <input class="input" type="text" placeholder="キーワード">
              </div>
              <div class="control">
                <input class="input" type="date">
              </div>
              <div class="control">
                <input class="input" type="time">
              </div>
              <!-- 検索ボタン -->
              <div class="control">
                <a class="button is-primary">Search</a>
              </div>
            </div>
          </form>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary"><strong>Sign up</strong></a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <a href="/list" style="text-decoration: none;"><h1 class="title is-1 has-text-left">Kizuna</h1></a>
                <%# <h1 class="title is-1 has-text-left">Kizuna</h1> %>
                <!--h1 class="subtitle">~安心安全の外食をお届け~</h1-->
                <h1 class="subtitle">~安心安全の外食のためのサイト~</h1>

                    みんなで更新する飲食店のウイルス感染対策情報サイト<br>
                    - マスク着用義務の有無、消毒液の有無など、コロナ禍で気になる最新情報をひとまとめ!<br>
                    - みんなでラクラク更新! <br>
                    - シンプルなデザインで情報更新の様子が一目でわかる<br>
                </h6>

            <div class="has-text-right">
                <%= search_form_for(@q, url: '/list', method: :get) do |f| %>
                    <div style="width: 20%; margin: auto 0 auto auto;">
                        <%= f.label :name, "店名検索：" %>
                        <%= f.search_field :name_cont, class: "input" %>
                    </div>

<div style="width: 20%; margin: auto 0 auto auto;">
    <%= f.label :area, "エリア検索：" %>
    <%= f.search_field :area_cont, class: "input" %>
</div>

                    <br>
                    <%= f.label :mask, "マスク着用義務  " %>
                    <%= f.check_box :mask_eq, { include_hidden: false, class: "checkbox" }, '義務', ' ' %>　

                    <%= f.label :temp, "検温  " %>
                    <%= f.check_box :temp_eq, { include_hidden: false, class: "checkbox" }, 'あり', ' ' %>　

                    <%= f.label :alcohol, "消毒液  " %>
                    <%= f.check_box :alcohol_not_eq, { include_hidden: false, class: "checkbox" }, 'なし', ' ' %>　

                    <%= f.label :takeout, "テイクアウト  " %>
                    <%= f.check_box :takeout_not_eq, { include_hidden: false, class: "checkbox" }, 'なし', ' ' %>
                    <br>
                    <div class="control">
                        <%= f.submit "検索", class: "button" %>
                    </div>
                <% end %>
            </div>

            </div>
        </div>
    </section>

    <main class="section">
      <div class="container">
        <div>dummy</div>
        <div class="columns">
          <div class="column is-narrow">
            <div class="search_entries_container">
              <div class="search_entry_container">
                <div class="header">マスク</div>
                <div class="content">
                  <label class="checkbox">
                    <input type="checkbox">
                      義務
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                      推奨
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                      指定なし
                  </label>
                </div>
              </div>
              <div class="search_entry_container">
                <div class="header">検温</div>
                <div class="content">
                  <label class="checkbox">
                    <input type="checkbox">
                      義務
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                      推奨
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                      指定なし
                  </label>
                </div>
              </div>
              <div class="search_entry_container">
                <div class="header">消毒液</div>
                <div class="content">
                  <label class="checkbox">
                    <input type="checkbox">
                    義務
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                    推奨
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                    指定なし
                  </label>
                </div>
              </div>
              <div class="search_entry_container">
                <div class="header">テイクアウト</div>
                <div class="content">
                  <label class="checkbox">
                    <input type="checkbox">
                    義務
                  </label>
                </div>
              </div>
            </div>

            <div class="search_entries_container">
              <div class="search_entry_container">
                <div class="header">電子マネー</div>
                <div class="content">
                  <label class="checkbox">
                    <input type="checkbox">
                    iD
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                    QuickPay
                  </label>
                </div>
              </div>
              <div class="search_entry_container">
                <div class="header">クレジットカード</div>
                <div class="content">
                  <label class="checkbox">
                    <input type="checkbox">
                    VISA
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                    Master
                  </label>
                </div>
              </div>
              <div class="search_entry_container">
                <div class="header">QRコード決済</div>
                <div class="content">
                  <label class="checkbox">
                    <input type="checkbox">
                    LINE Pay
                  </label>
                  <label class="checkbox">
                    <input type="checkbox">
                    QuickPay
                  </label>
                </div>
              </div>
            </div>

            <button class="button is-rounded is-fullwidth">絞り込む</button>
          </div>
          <div class="column">
            items
          </div>
        </div>
      </div>
    </main>

    <% @rests.each do |rest| %>
    <div class="box is-inline-block" id="<%= rest.id %>" style=" vertical-align: top; width: 450px; margin: 12px ;">
        <a style="font-size: 25px; color: hsl(0, 0%, 21%);" href="/checkdata/<%= rest.id %>"><strong><%= rest.name%></strong></a>
        <br /><br>

<h6>エリア：<%= rest.area%></h6>

        <h6>
            <span class="icon">
                <i class="fas fa-head-side-mask"></i>
            </span>
            マスク：<%= rest.mask%>
        </h6>
        <h6>
            <span class="icon">
                <i class="fas fa-thermometer-three-quarters"></i>
            </span>
            検温：<%= rest.temp%>
        </h6>
        <h6>
            <span class="icon">
                <i class="fas fa-pump-medical"></i>
            </span>消毒液：<%= rest.alcohol%>
        </h6>
        <h6>
            <span class="icon">
                <i class="fas fa-shopping-bag"></i>
            </span>
            テイクアウト：<%= rest.takeout%>
        </h6>
        <br/>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            月曜日：<%= rest.monday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            火曜日：<%= rest.tuesday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            水曜日：<%= rest.wednesday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            木曜日：<%= rest.thursday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            金曜日：<%= rest.friday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            土曜日：<%= rest.saturday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            日曜日：<%= rest.sunday%>
        </h6>
        <br />
        <button class="button is-primary is-rounded" onclick="location.href='/checkdata/<%= rest.id %>'">
            <span class="icon">
                <i class="fas fa-code-branch"></i>
            </span>
            <span>最新情報</span>
        </button>
        <br /><br />
        
        <% if rest.googlemap=='null' then %>
        <button class="button is-danger is-rounded" style="color: hsl(347, 90%, 100%); background-color: hsl(347, 90%, 86%);">
            <span class="icon">
                <i class="fab fa-google"></i>
            </span>
            <span>Google Map</span>
        </button>
        <% else%>
        <button class="button is-danger is-rounded" onclick="location.href='<%= rest.googlemap%>'">
            <span class="icon">
                <i class="fab fa-google"></i>
            </span>
            <span>Google Map</span>
        </button>
        <% end %>

        <% if rest.tabelog=='null' then %>
            <button class="button is-warning is-rounded" style="color: hsl(48, 100%, 100%); background-color: hsl(48, 100%, 80%)">
                <span class="icon">
                    <i class="fas fa-utensils"></i>
                </span>
                <span>食べログ</span>
            </button>
        <% else%>
            <button class="button is-warning is-rounded"
                onclick="location.href='<%= rest.tabelog %>' ">
                <span class="icon">
                    <i class="fas fa-utensils"></i>
                </span>
                <span>食べログ</span>
            </button>
        <% end %>

        <% if rest.homepage=='null' then %>
            <button class="button is-success is-rounded"  style="color: hsl(142, 52%, 100%); background-color: hsl(142, 52%, 80%)">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>公式HP</span>
        </button>
        <% else%>
                <button class="button is-success is-rounded" onclick="location.href='<%= rest.homepage %>'" >
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>公式HP</span>
        </button>
        <% end %>
    </div>
    <% end%>
<br>
<% if @all_hira != @all_kata then %>

    <% @rests_2.each do |rest_2| %>
    <div class="box is-inline-block" id="<%= rest_2.id %>" style=" vertical-align: top; width: 450px; margin: 12px ;">
        <a style="font-size: 25px; color: hsl(0, 0%, 21%);" href="/checkdata/<%= rest_2.id %>"><strong><%= rest_2.name%></strong></a>
        <br /><br>

<h6>エリア：<%= rest.area%></h6>


        <h6>
            <span class="icon">
                <i class="fas fa-head-side-mask"></i>
            </span>
            マスク：<%= rest_2.mask%>
        </h6>
        <h6>
            <span class="icon">
                <i class="fas fa-thermometer-three-quarters"></i>
            </span>
            検温：<%= rest_2.temp%>
        </h6>
        <h6>
            <span class="icon">
                <i class="fas fa-pump-medical"></i>
            </span>消毒液：<%= rest_2.alcohol%>
        </h6>
        <h6>
            <span class="icon">
                <i class="fas fa-shopping-bag"></i>
            </span>
            テイクアウト：<%= rest_2.takeout%>
        </h6>
        <br/>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            月曜日：<%= rest_2.monday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            火曜日：<%= rest_2.tuesday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            水曜日：<%= rest_2.wednesday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            木曜日：<%= rest_2.thursday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            金曜日：<%= rest_2.friday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            土曜日：<%= rest_2.saturday%>
        </h6>
        <h6>
            <span class="icon">
                <i class="far fa-clock"></i>
            </span>
            日曜日：<%= rest_2.sunday%>
        </h6>
        <br />
        <button class="button is-primary is-rounded" onclick="location.href='/checkdata/<%= rest_2.id %>'">
            <span class="icon">
                <i class="fas fa-code-branch"></i>
            </span>
            <span>最新情報</span>
        </button>
        <br /><br />
        
        <% if rest_2.googlemap=='null' then %>
        <button class="button is-danger is-rounded" style="color: hsl(347, 90%, 100%); background-color: hsl(347, 90%, 86%);">
            <span class="icon">
                <i class="fab fa-google"></i>
            </span>
            <span>Google Map</span>
        </button>
        <% else%>
        <button class="button is-danger is-rounded" onclick="location.href='<%= rest_2.googlemap%>'">
            <span class="icon">
                <i class="fab fa-google"></i>
            </span>
            <span>Google Map</span>
        </button>
        <% end %>

        <% if rest_2.tabelog=='null' then %>
            <button class="button is-warning is-rounded" style="color: hsl(48, 100%, 100%); background-color: hsl(48, 100%, 80%)">
                <span class="icon">
                    <i class="fas fa-utensils"></i>
                </span>
                <span>食べログ</span>
            </button>
        <% else%>
            <button class="button is-warning is-rounded"
                onclick="location.href='<%= rest_2.tabelog %>' ">
                <span class="icon">
                    <i class="fas fa-utensils"></i>
                </span>
                <span>食べログ</span>
            </button>
        <% end %>

       
        <% if rest_2.homepage=='null' then %>
            <button class="button is-success is-rounded"  style="color: hsl(142, 52%, 100%); background-color: hsl(142, 52%, 80%)">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>公式HP</span>
        </button>
        <% else%>
                <button class="button is-success is-rounded" onclick="location.href='<%= rest_2.homepage %>'" >
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>公式HP</span>
        </button>

        <% end %>
    </div>
    <% end%>

<% end %>

    <!-- for Bulma -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>
</body>
</html>