<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>店舗登録 | Kizuna</title>
    <style>
        #check {
            border-radius: 500px;
            margin: 5px;
        }
    </style>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-left">Kizuna</h1>
                <h1 class="subtitle">~安心安全の外食のためのサイト~</h1>

            <div class="has-text-right">
                <%= search_form_for(@q, url: '/register', method: :get) do |f| %>
                    <div style="width: 20%; margin: auto 0 auto auto;">
                        <%= f.label :name, "店名検索：" %>
                        <%= f.search_field :name_cont, class: "input" %>
                    </div>

                    <div style="width: 20%; margin: auto 0 auto auto;">
                        <%= f.label :area, "エリア検索：" %>
                        <%= f.search_field :area_cont, class: "input" %>
                    </div>

                    <br>
                    <%= f.label :mask, "マスク着用義務  " %>
                    <%= f.check_box :mask_eq, { include_hidden: false, class: "checkbox" }, '義務', ' ' %>　

                    <%= f.label :temp, "検温  " %>
                    <%= f.check_box :temp_eq, { include_hidden: false, class: "checkbox" }, 'あり', ' ' %>　

                    <%= f.label :alcohol, "消毒液  " %>
                    <%= f.check_box :alcohol_not_eq, { include_hidden: false, class: "checkbox" }, 'なし', ' ' %>　

                    <%= f.label :takeout, "テイクアウト  " %>
                    <%= f.check_box :takeout_not_eq, { include_hidden: false, class: "checkbox" }, 'なし', ' ' %>
                    <br>
                    <div class="control">
                        <%= f.submit "検索", class: "button" %>
                    </div>
                <% end %>
            </div>

            </div>
        </div>
    </section>

    <div class="box is-inline-block" style=" vertical-align: top; width: 1000px; margin: 50px ;">
        <%= form_with url: '/register', method: :post, local: true do |f| %>
            <div class="field is-horizontal">
                <div class="field-label is-small">
                    <label class="label">店名</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-small" name="name" type="text" placeholder="店名">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-small">
                    <label class="label">エリア名</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-small" name="area" type="text" placeholder="エリア名">
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="field is-horizontal">
                <div class="field-label  is-small">
                    <label class="label">
                        <span class="icon">
                            <i class="fas fa-head-side-mask"></i>
                        </span> マスク
                    </label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth is-small">
                                <select name="mask">
                                    <option value="指定なし">指定なし</option>
                                    <option value="義務">義務</option>
                                    <option value="推奨">推奨</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label  is-small">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-thermometer-three-quarters"></i>
                    </span> 検温</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth is-small">
                            <select name="temp">
                                <option value="なし">なし</option>
                                <option value="なし">あり</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label  is-small">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-pump-medical"></i>
                    </span> 消毒液</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth is-small">
                            <select name="alcohol">
                                <option value="なし">なし</option>
                                <option value="あり(推奨)">あり(推奨)</option>
                                <option value="あり(義務)">あり(義務)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label  is-small">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-shopping-bag"></i>
                    </span> テイクアウト</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth is-small">
                            <select name="takeout">
                                <option value="なし">なし</option>
                                <option value="あり(公式HPに記載なし)">あり(公式HPに記載なし)</option>
                                <option value="あり(公式HPに記載あり)">あり(公式HPに記載あり)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label ">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 月曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="monday" type="text" placeholder="8:00~14:00, 18:00~21:00">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 火曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="tuesday" type="text" placeholder="8:00~14:00, 18:00~21:00">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 水曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="wednesday" type="text" placeholder="8:00~14:00, 18:00~21:00">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 木曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="thursday" type="text" placeholder="8:00~14:00, 18:00~21:00">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 金曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="friday" type="text" placeholder="8:00~14:00, 18:00~21:00">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 土曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="saturday" type="text" placeholder="8:00~14:00, 18:00~21:00">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 日曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="sunday" type="text" placeholder="8:00~14:00, 18:00~21:00">
                    </div>
                </div>
            </div>
        </div>
        
         <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-credit-card"></i>
                    </span> 電子マネー</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="elec" type="text" placeholder="楽天Edy, Nanaco">
                    </div>
                </div>
            </div>
        </div>
         <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-credit-card"></i>
                    </span> クレジットカード</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="card" type="text" placeholder="VISA, MasterCard">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-qrcode"></i>
                    </span> QRコード決済</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input is-small" name="qr" type="text" placeholder="PayPay, LINE Pay">
                    </div>
                </div>
            </div>
        </div>
        <br />




        <div class=" field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">
                                <span class="icon">
                                    <i class="fab fa-google"></i>
                                </span> Google Map</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-small" name="googlemap" type="text" placeholder="URL">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">
                                <span class="icon">
                                    <i class="fas fa-utensils"></i>
                                </span> 食べログ</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-small" name="tabelog" type="text" placeholder="URL">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span> 公式HP</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-small" name="homepage" type="text" placeholder="URL">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="field is-grouped is-grouped-right">
                        <p class="control">
                            <button class="button is-warning">
                                Submit
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-light">
                                Cancel
                            </button>
                        </p>
                    </div>
                    <%end %>
                </div>

                <% @stack.each do |st| %>
                <div class="box is-inline-block" id="<%= st.id %>"
                    style=" vertical-align: top; width: 450px; margin: 50px ;">
                    <%= form_tag(url_for(:action => 'ng'), :remote => true) do %>
                    <button class="button is-danger is-light " id="check" style="float: right;">

                        <span class="icon is-large">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                    <input type="hidden" name="stid" value="<%= st.id %>">

                    <% end %>

                    <%= form_tag(url_for(:action => 'ok'), :remote => true) do %>
                    <button class="button is-primary is-light " id="check" style="float: right;">

                        <span class="icon  is-large">
                            <i class="fas fa-check"></i>
                        </span>

                    </button>
                    <input type="hidden" name="stid" value="<%= st.id %>">

                    <% end %>
                    <br />
                    <strong style="font-size: 25px;"><%= st.name%></strong>
                    <br />
                    <br />

                    <h6>エリア:<%= st.area %></h6>

                    <h6>
                        <span class="icon">
                            <i class="fas fa-head-side-mask"></i>
                        </span>
                        マスク：<%= st.mask%>
                    </h6>

                    <h6>
                        <span class="icon">
                            <i class="fas fa-thermometer-three-quarters"></i>
                        </span>
                        検温：<%= st.temp%>
                    </h6>

                    <h6>
                        <span class="icon">
                            <i class="fas fa-pump-medical"></i>
                        </span>消毒液：<%= st.alcohol%>
                    </h6>

                    <h6>
                        <span class="icon">
                            <i class="fas fa-shopping-bag"></i>
                        </span>
                        テイクアウト：<%= st.takeout%>
                    </h6>
                    <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        月曜日：<%= st.monday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        火曜日：<%= st.tuesday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        水曜日：<%= st.wednesday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        木曜日：<%= st.thursday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        金曜日：<%= st.friday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        土曜日：<%= st.saturday%>
                    </h6>
                                           <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        日曜日：<%= st.sunday%>
                    </h6>
                    <h6>
                        <span class="icon">
                            <i class="far fa-credit-card"></i>
                        </span>
                        電子マネー：<%= st.elec%>
                    </h6>
                    <h6>
                        <span class="icon">
                            <i class="fas fa-credit-card"></i>
                        </span>
                        クレジットカード：<%= st.card%>
                    </h6>
                    <h6>
                        <span class="icon">
                            <i class="fas fa-qrcode"></i>
                        </span>
                        QRコード決済：<%= st.qr%>
                    </h6>
                    <span class="icon">
                        <i class="fab fa-google"></i>
                    </span>
                    <a href="<%= st.googlemap%>"><%= st.googlemap%></a><br>
                    <span class="icon">
                        <i class="fas fa-utensils"></i>
                    </span>
                    <a href="<%= st.tabelog%>"><%= st.tabelog%></a><br>
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <a href="<%= st.homepage%>"><%= st.homepage%></a>
                    <br />

                    <br />
                    <button class="button is-primary is-rounded" onclick="location.href='/welcome/checkdata/12'">
                        <span class="icon">
                            <i class="fas fa-code-branch"></i>
                        </span>
                        <span>最新情報</span>
                    </button>
                </div>
                <% end%>
</body>

</html>