<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>店舗登録</title>
    <style>
        #check {
            border-radius: 500px;
            margin: 5px;
        }
    </style>
</head>

<body>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-left">Kizuna</h1>
                <h1 class="subtitle">~安心安全の外食をお届け~</h1>

                <div class="has-text-right">
                    <%= form_with url: '/welcome/search', method: :get, local: true do |f| %>
                    <div style="width: 20%; margin: auto 0 auto auto;">
                        <%= f.label :name, "店舗名：" %>
                        <%= f.text_field :name , class: "input" %>
                    </div>
                    <br>

                    <%# チェックボックス %>
                    <%= f.label :takeout, "テイクアウト " %>
                    <%= f.check_box :takeout, {include_hidden: false}, class: "checkbox" %>

                    <%= f.label :touchless, "　　タッチレス決済 " %>
                    <%= f.check_box :touchless, {include_hidden: false}, class: "checkbox" %>

                    <%= f.label :mask, "　　マスク必須 " %>
                    <%= f.check_box :mask, {include_hidden: false}, class: "checkbox" %>
                    <div class="control">
                        <%= f.submit :search, class: "button" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <div class="box is-inline-block" style=" vertical-align: top; width: 1000px; margin: 50px ;">
        <%= form_with url: '/welcome/register', method: :post, local: true do |f| %>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">店名</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input " name="name" type="text" placeholder="店名">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="field is-horizontal">

            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-head-side-mask"></i>
                    </span> マスク</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="mask">
                                <option value="指定なし">指定なし</option>
                                <option value="義務">義務</option>
                                <option value="推奨">推奨</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-thermometer-three-quarters"></i>
                    </span> 検温</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="temp">
                                <option value="なし">なし</option>
                                <option value="なし">あり</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-pump-medical"></i>
                    </span> 消毒液</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="alcohol">
                                <option value="なし">なし</option>
                                <option value="あり(推奨)">あり(推奨)</option>
                                <option value="あり(義務)">あり(義務)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="fas fa-shopping-bag"></i>
                    </span> テイクアウト</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="takeout">
                                <option value="なし">なし</option>
                                <option value="あり(公式HPに記載なし)">あり(公式HPに記載なし)</option>
                                <option value="あり(公式HPに記載あり)">あり(公式HPに記載あり)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 月曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" name="monday" type="text" placeholder="8:00~14:00, 18:00~21:00"">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 火曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" name="tuesday" type="text" placeholder="8:00~14:00, 18:00~21:00"">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 水曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" name="wednesday" type="text" placeholder="8:00~14:00, 18:00~21:00"">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 木曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" name="thursday" type="text" placeholder="8:00~14:00, 18:00~21:00"">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 金曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" name="friday" type="text" placeholder="8:00~14:00, 18:00~21:00"">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 土曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" name="saturday" type="text" placeholder="8:00~14:00, 18:00~21:00"">
                    </div>
                </div>
            </div>
        </div>
                <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="icon">
                        <i class="far fa-clock"></i>
                    </span> 日曜日</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" name="sunday" type="text" placeholder="8:00~14:00, 18:00~21:00"">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class=" field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                <span class="icon">
                                    <i class="fab fa-google"></i>
                                </span> Google Map</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input " name="googlemap" type="text" placeholder="URL">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                <span class="icon">
                                    <i class="fas fa-utensils"></i>
                                </span> 食べログ</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input " name="tabelog" type="text" placeholder="URL">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span> 公式HP</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input " name="homepage" type="text" placeholder="URL">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="field is-grouped is-grouped-right">
                        <p class="control">
                            <button class="button is-primary">
                                Submit
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-light">
                                Cancel
                            </button>
                        </p>
                    </div>
                    <%end %>
                </div>

                <% @stack.each do |st| %>
                <div class="box is-inline-block" id="<%= st.id %>"
                    style=" vertical-align: top; width: 450px; margin: 50px ;">
                    <%= form_tag(url_for(:action => 'ng'), :remote => true) do %>
                    <button class="button is-danger is-light " id="check" style="float: right;">

                        <span class="icon is-large">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                    <input type="hidden" name="stid" value="<%= st.id %>">

                    <% end %>

                    <%= form_tag(url_for(:action => 'ok'), :remote => true) do %>
                    <button class="button is-primary is-light " id="check" style="float: right;">

                        <span class="icon  is-large">
                            <i class="fas fa-check"></i>
                        </span>

                    </button>
                    <input type="hidden" name="stid" value="<%= st.id %>">

                    <% end %>
                    <br />
                    <strong style="font-size: 25px;"><%= st.name%></strong>
                    <br />
                    <br />
                    <h6>
                        <span class="icon">
                            <i class="fas fa-head-side-mask"></i>
                        </span>
                        マスク：<%= st.mask%>
                    </h6>

                    <h6>
                        <span class="icon">
                            <i class="fas fa-thermometer-three-quarters"></i>
                        </span>
                        検温：<%= st.temp%>
                    </h6>

                    <h6>
                        <span class="icon">
                            <i class="fas fa-pump-medical"></i>
                        </span>消毒液：<%= st.alcohol%>
                    </h6>

                    <h6>
                        <span class="icon">
                            <i class="fas fa-shopping-bag"></i>
                        </span>
                        テイクアウト：<%= st.takeout%>
                    </h6>
                    <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        月曜日：<%= st.monday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        火曜日：<%= st.monday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        水曜日：<%= st.monday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        木曜日：<%= st.monday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        金曜日：<%= st.monday%>
                    </h6>
                                        <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        土曜日：<%= st.monday%>
                    </h6>
                                           <h6>
                        <span class="icon">
                            <i class="far fa-clock"></i>
                        </span>
                        日曜日：<%= st.monday%>
                    </h6>
                    <span class="icon">
                        <i class="fab fa-google"></i>
                    </span>
                    <a href="<%= st.googlemap%>"><%= st.googlemap%></a><br>
                    <span class="icon">
                        <i class="fas fa-utensils"></i>
                    </span>
                    <a href="<%= st.tabelog%>"><%= st.tabelog%></a><br>
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <a href="<%= st.homepage%>"><%= st.homepage%></a>
                    <br />
                    <!--h6>月：8:30~21:00</h6>
        <h6>火：8:30~21:00</h6>
        <h6>水：8:30~21:00</h6>
        <h6>木：8:30~21:00</h6>
        <h6>金：8:30~21:00</h6>
        <h6>土：8:30~21:00</h6>
        <h6>日：8:30~21:00</h6-->

                    <br />
                    <button class="button is-primary is-rounded" onclick="location.href='/welcome/checkdata/12'">
                        <span class="icon">
                            <i class="fas fa-code-branch"></i>
                        </span>
                        <span>最新情報</span>
                    </button>

                    <!--button class="button is-danger is-rounded" onclick="location.href='<%= st.googlemap%>'">
            <span class="icon">
                <i class="fab fa-google"></i>
            </span>
        </button> <%= st.googlemap%>
        <br />
        <br />

        <button class="button is-danger is-rounded" onclick="location.href='<%= st.googlemap%>'">
            <span class="icon">
                <i class="fab fa-google"></i>
            </span>
            <span>Google Map</span>
        </button>
        <br />
        <button class="button is-warning is-rounded" onclick="location.href='<%= st.tabelog%>'">
            <span class="icon">
                <i class="fas fa-utensils"></i>
            </span>
            <span>食べログ</span>
            :<%= st.tabelog%>
        </button>
        <br />
        <button class="button is-success is-rounded" onclick="location.href='<%= st.homepage%>'">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>公式HP</span>
            :<%= st.homepage%>
        </button-->
                </div>
                <% end%>
</body>

</html>