<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <title>team Kizuna </title>

    <!-- material design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        /*星評価*/
        .star-rating
        {
            font-size: 25px;

            position: relative;

            width: 5em;
            height: 1em;
        }
        .star-rating-front
        {
            position: absolute;
            top: 1;
            left: 0;

            overflow: hidden;

            color: #fc3;
        }
        .star-rating-back
        {
            color: #ccc;
        }

        /* オープン時にアニメーションを設定 */
        details[open] .details-content
        {
            animation: fadeIn 1.5s ease;
        }
        @keyframes fadeIn
        {
            0%
            {
                transform: translateY(-10px); /*上から表示*/
                opacity: 0; /* 透明 */
            }
            100%
            {
                transform: none;
                opacity: 1;
            }
        }

        /* 詳細表示のクリック時のアウトラインを消す */
        summary
        {
            outline: none;
        }
    </style>
</head>
<body>
    <section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-left">Kizuna</h1>
            <p>~安心安全の外食をお届け~</p>
            
            <div class="has-text-right">
                <%= form_with url: 'welcome/search', method: :get, local: true do |f| %>
                    <%= f.label :name, "店舗名：" %>
                    <%= f.text_field :name, {class: input} %>
                    
                    <%# チェックボックス %>
                    <%= f.label :mask, "マスク：" %>
                    <%= f.check_box :mask, {class: input}, 1, 0 %>

                    <%= f.submit :search %>
                <% end %>
            </div>
        </div>
    </div>
    </section>
    
    
    <section class="section">
        <div class="container">
            <a class="button" href="./index.html">Top</a>
            <div class="columns is-variable is-8">

            <%# あり・なし表示をする関数を定義 %>
            <%
                def display_yn(value)
                    if value == 0 then
                        return "なし"
                    else
                        return "あり"
                    end
                end
            %>
            
            <%# 各行ごと（店舗ごと）に表を作成 %>
            <% @rests.each do |rest| %>
                <div class="column is-one-third-widescreen is-full-tablet is-inline-block mb-4">
                    <%#　見出し %>
                    <h1 class="title"><%= rest.name %></h1>
                    <h1 class="subtitle"><%= rest.address %></h1>
                    
                    <%# 重要項目の表 %>
                    <table class="table is-fullwidth is-striped">
                        <%# 衛生状況に対する顧客の満足度 %>
                        <tr>
                            <td>
                                <span class="material icons">mood</span>
                                衛生状況に対する顧客の満足度
                            </td>
                            <td>
                                <div class="star-rating">
                                <div class="star-rating-front" style="width: <%= rest.rate * 20 %>%">★★★★★</div>
                                <div class="star-rating-back">★★★★★</div></div>
                            </td>
                        </tr>

                        <%# マスク %>
                        <tr>
                            <td>
                                <span class="material-icons">masks</span>
                                客のマスク着用
                            </td>
                            <td>
                                <% if rest.mask == 0 then %>
                                    指定なし
                                <% elsif rest.mask == 1 then %>
                                    必須
                                <% else %>
                                    推奨
                                <% end %>
                            </td>
                        </tr>
                        <%# 短縮営業 %>
                        <tr>
                            <td>
                                <span class="material-icons">schedule</span>
                                短縮営業
                            </td>
                            <td>
                                <% if rest.time == -1 then %>
                                    なし
                                <% else %>
                                    <%= rest.time %> まで
                                <% end %>
                            </td>
                        </tr>
                        <%# テイクアウト %>
                        <tr>
                            <td>
                                <span class="material-icons">shopping_bag</span>
                                テイクアウト
                            </td>
                            <td>
                                <%= display_yn(rest.takeout) %>
                            </td>
                        </tr>
                    </table>

                    <%# 詳細項目 %>
                    <details>
                        <summary>詳細</summary>
                    <table class="table is-fullwidth is-striped details-content">
                        <%# アルコール消毒 %>
                        <tr>
                            <td>
                                アルコール消毒
                            </td>
                            <td>
                                <%= display_yn(rest.takeout) %>
                            </td>
                        </tr>
                        <%# タッチレス決済 %>
                        <tr>
                            <td>
                                タッチレス決済
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                カード
                            </td>
                            <td>
                                <%= display_yn(rest.card) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                LINE Pay
                            </td>
                            <td>
                                <%= display_yn(rest.linepay) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                PayPay
                            </td>
                            <td>
                                <%= display_yn(rest.paypay) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                iD
                            </td>
                            <td>
                                <%= display_yn(rest.payid) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                QUICPay
                            </td>
                            <td>
                                <%= display_yn(rest.quicpay) %>
                            </td>
                        </tr>
                        <%# 席間隔 %>
                        <tr>
                            <td>
                                席間隔
                            </td>
                            <td>
                                <%= display_yn(rest.seat) %>
                            </td>
                        </tr>
                        <%# 従業員との接触 %>
                        <tr>
                            <td>
                                従業員との接触
                            </td>
                            <td>
                                <%= display_yn(rest.contact) %>
                            </td>
                        </tr>
                        <%# トイレの利用可否 %>
                        <tr>
                            <td>
                                トイレの利用可否
                            </td>
                            <td>
                                <%= display_yn(rest.toilet) %>
                            </td>
                        </tr>
                        <%# 従業員との接触 %>
                        <tr>
                            <td>
                                従業員との接触
                            </td>
                            <td>
                                <%= display_yn(rest.contact) %>
                            </td>
                        </tr>
                        <%# 自然換気 %>
                        <tr>
                            <td>
                                自然換気
                            </td>
                            <td>
                                <%= display_yn(rest.airing) %>
                            </td>
                        </tr>
                        <%# 屋外の席 %>
                        <tr>
                            <td>
                                屋外の席
                            </td>
                            <td>
                                <%= display_yn(rest.outdoor) %>
                            </td>
                        </tr>
                        <%# 体温測定 %>
                        <tr>
                            <td>
                                体温測定の有無
                            </td>
                            <td>
                                <%= display_yn(rest.temp) %>
                            </td>
                        </tr>
                        <%# 店内の雰囲気 %>
                        <tr>
                            <td>
                                店内の雰囲気
                            </td>
                            <td>
                                <%= display_yn(rest.atom) %>
                            </td>
                        </tr>
                        <%# 仕切り板の有無 %>
                        <tr>
                            <td>
                            仕切り板の有無
                            </td>
                            <td>
                                <%= display_yn(rest.plate) %>
                            </td>
                        </tr>
                        </table>



                        <form method="">
                            <input type="hidden" name="store_name" value="">
                            <select name="rate">
                                <option value="1">5</option>
                                <option value="1">4</option>
                                <option value="1">3</option>
                                <option value="1">2</option>
                                <option value="1">1</option>
                            </select>
                            <input type="submit" class="button">衛生状況を評価する
                        </form>

                        <%= form_with url: 'result', method: :get, local: true do |f| %>
                            <%= f.select :user_rate, [["5", 5],["4", 4],["3", 3],["2",2],["1",1]] %>
                            <%= f.submit :submit %>
                        <% end %>

                        </details>
                    
                </div>
            <% end %>



            </div>
        </div>
    </section>
</body>
</html>