<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <%= stylesheet_pack_tag 'application' %>
    <title>team Kizuna </title>
</head>

<body>
 <section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-left">Kizuna</h1>
            <p>~安心安全の外食をお届け~</p>
            
            <div class="has-text-right">
                <%= form_with url: 'search', method: :get, local: true do |f| %>
                    <%= f.label :name, "店舗名：" %>
                    <%= f.text_field :name%>
                    
                    <%# チェックボックス %>
                    <%= f.label :mask, "マスク：" %>
                    <%= f.check_box :mask%>

                    <%= f.submit :search %>
                <% end %>
            </div>
        </div>
    </div>
    </section>

<section class="section">
        <div class="container">
            <a class="button" href="./index.html">Back to top</a>
            <div class="columns is-variable is-8">
         　 <%# あり・なし表示をする関数を定義 %>
            <%
                def display_yn(value)
                    if value then
                        return "あり"
                    else
                        return "なし"
                    end
                end
            %>
             <%# 各行ごと（店舗ごと）に表を作成 %>
            <% @rests.each do |rest| %>
                <div class="column is-one-third-widescreen is-one-third-desktop is-full-tablet is-inline-block mb-4">
                    <%#　見出し %>
                    <h1 class="title"><%= rest.name %></h1>
                    <h1 class="subtitle"><%= rest.address %></h1>
                     <%# 重要項目の表 %>
                    <table class="table is-fullwidth is-striped">
                        <%# 衛生状況に対する顧客の満足度 %>
                        <tr>
                            <td>
                                <i class="material-icons">mood</i>
                                衛生状況に対する顧客の満足度
                            </td>
                            <td>
                                <div class="star-rating">
                                <div class="star-rating-front" style="width: <%= rest.rate * 20 %>%">★★★★★</div>
                                <div class="star-rating-back">★★★★★</div></div>
                            </td>
                        </tr>
                         <%# マスク %>
                        <tr>
                            <td>
                                <span class="material-icons">masks</span>
                                客のマスク着用
                            </td>
                            <td>
                                <% if rest.mask == false then %>
                                    指定なし
                                <% elsif rest.mask == true then %>
                                    必須
                                <% else %>
                                    推奨
                                <% end %>
                            </td>
                        </tr>
                        <%# 短縮営業 %>
                        <tr>
                            <td>
                                <span class="material-icons">schedule</span>
                                短縮営業
                            </td>
                            <td>
                                <% if rest.time == false then %>
                                    なし
                                <% else %>
                                    あり
                                <% end %>
                            </td>
                        </tr>
                        <%# テイクアウト %>
                        <tr>
                            <td>
                                <span class="material-icons">shopping_bag</span>
                                テイクアウト
                            </td>
                            <td>
                                <%= display_yn(rest.takeout) %>
                            </td>
                        </tr>
                    </table>
                     <%# 詳細項目 %>
                    <details>
                        <summary>詳細</summary>
                    <table class="table is-fullwidth is-striped details-content">
                        <%# アルコール消毒 %>
                        <tr>
                            <td>
                                アルコール消毒
                            </td>
                            <td>
                                <%= display_yn(rest.alcohol) %>
                            </td>
                        </tr>
                        <%# タッチレス決済 %>
                        <tr>
                            <td>
                                タッチレス決済
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                カード
                            </td>
                            <td>
                                <%= display_yn(rest.card) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                LINE Pay
                            </td>
                            <td>
                                <%= display_yn(rest.linepay) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                PayPay
                            </td>
                            <td>
                                <%= display_yn(rest.paypay) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                iD
                            </td>
                            <td>
                                <%= display_yn(rest.payid) %>
                            </td>
                        </tr>
                        <tr class="is-size-7">
                            <td class="has-text-right">
                                QUICPay
                            </td>
                            <td>
                                <%= display_yn(rest.quicpay) %>
                            </td>
                        </tr>
                        <%# 席間隔 %>
                        <tr>
                            <td>
                                席間隔
                            </td>
                            <td>
                                <%= display_yn(rest.seat) %>
                            </td>
                        </tr>
                        <%# 従業員との接触 %>
                        <tr>
                            <td>
                                従業員との接触
                            </td>
                            <td>
                                <%= display_yn(rest.contact) %>
                            </td>
                        </tr>
                        <%# トイレの利用可否 %>
                        <tr>
                            <td>
                                トイレの利用可否
                            </td>
                            <td>
                                <%= display_yn(rest.toilet) %>
                            </td>
                        </tr>
                        
                        <%# 自然換気 %>
                        <tr>
                            <td>
                                自然換気
                            </td>
                            <td>
                                <%= display_yn(rest.airing) %>
                            </td>
                        </tr>
                        <%# 屋外の席 %>
                        <tr>
                            <td>
                                屋外の席
                            </td>
                            <td>
                                <%= display_yn(rest.outdoor) %>
                            </td>
                        </tr>
                        <%# 体温測定 %>
                        <tr>
                            <td>
                                体温測定の有無
                            </td>
                            <td>
                                <%= display_yn(rest.temp) %>
                            </td>
                        </tr>
                        <%# 店内の雰囲気 %>
                        <tr>
                            <td>
                                店内の雰囲気
                            </td>
                            <td>
                                <%= rest.atom %>
                            </td>
                        </tr>
                        <%# 仕切り板の有無 %>
                        <tr>
                            <td>
                            仕切り板の有無
                            </td>
                            <td>
                                <%= display_yn(rest.plate) %>
                            </td>
                        </tr>
                        </table>

                        <%= form_with url: 'result', method: :get, local: true do |f| %>
                            <%= f.select :user_rate, [["5", 5],["4", 4],["3", 3],["2",2],["1",1]] %>
                            <%= f.submit :submit %>
                        <% end %>

                        </details>
                </div>
                
            <% end %>
            </div>
        </div>
</section>

<%= form_with url: 'welcome/search', method: :get, local: true do |f| %>
    店名検索：<%= f.text_field :name %><br/>
    アルコールの有無：<%= f.check_box :alcohol %><br/>
    マスク：<%= f.check_box :mask %><br/>
    営業時間：<%= f.check_box :time %><br/>
    テイクアウト：<%= f.check_box :takeout %><br/>
    タッチレス：<%= f.check_box :touchless %><br/>
    カード：<%= f.check_box :card %><br/>
    Linepay：<%= f.check_box :linepay %><br/>
    Paypay：<%= f.check_box :paypay %><br/>
    payid：<%= f.check_box :payid %><br/>
    quicpay：<%= f.check_box :quicpay %><br/>
    座席間隔：<%= f.check_box :seat %><br/>
    従業員との接触：<%= f.check_box :contact %><br/>
    トイレの有無：<%= f.check_box :toilet %><br/>
    自然換気：<%= f.check_box :airing %><br/>
    屋外の席：<%= f.check_box :outdoor %><br/>
    体温測定：<%= f.check_box :temp %><br/>
    店内の雰囲気：<%= f.check_box :atom %><br/>
    仕切り板の有無：<%= f.check_box :plate %><br/>
    衛生状況に対する顧客の満足度：<%= f.check_box :rate %><br/>

    <%= f.submit :search %>
  <% end %>

<table class="table is-striped" style="margin-left: auto; margin-right: auto;">
    <thead>
        <tr>
            <th>店名</th>
            <th>住所</th>
            <th>マスク着用</th>
            <th>アルコール消毒の有無</th>
        </tr>
    </thead>
    <tbody>
        <% @rests.each do |rest| %>
            <tr>
                <th><%= rest.name %></th>
                <th><%= rest.address %></th>
                <th><%= rest.mask %></th>
                <th><%= rest.alcohol %></th>
            </tr>
        <% end %>
    </tbody>
</table>
</body>
</html>